/* header */
.crr-emp-global-gradient {
    font-family: Source Sans Pro, sans-serif;
}

    .crr-emp-global-gradient:before {
        background: none;
        height: auto;
    }

.crr-emp-navbar-header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.crr-emp-navbar-brand {
    font-size: 18px;
    line-height: 19px;
}

.crr-emp-navbar-toggle {
    padding: 9px 10px;
    padding-right: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
}

.crr-emp-btn-modal-close {
    float: right;
    margin-bottom: 20px;
    margin-right:10px;
}

.crr-emp-header-global-menu-content {
    padding: 15px;
    background-color: #fff;
}

.crr-header-global-nav > li > a {
    color: #007dbc;
}

.crr-header-global-nav > li .crr-header-nav-link-div,
.crr-header-global-nav > li a {
    background: none;
    border: none;
    outline: none;
    color: #075484;
    font-size: 20px;
}

.crr-header-nav-link {
    font-weight: 600;
}

.crr-header-global-nav > li a {
    background-color: transparent !important;
    border: none;
    outline: none;
}

.crr-emp-nav-firstlink:hover .crr-emp-nav-firstlink-a,
.crr-emp-nav-firstlink > .crr-emp-nav-firstlink-a:hover {
    color: #29abe2 !important;
}

.crr-emp-nav-firstlink-a {
    padding: 7px 10px;
}

#form_globalheadersearch {
    position: relative;
    min-width: 55px;
    min-height: 40px;
    background-color: #DDF4FC;
    border-radius: 20px;
}

    #form_globalheadersearch .icon-search {
        color: #407fa2;
        cursor: pointer;
        font-size: 28px;
        right: 12px;
        font-weight: 700;
    }

    #form_globalheadersearch input {
        display: none;
        min-height: 40px;
        border-radius: 20px;
    }

        #form_globalheadersearch input::placeholder {
            color: #007dbc;
        }

    #form_globalheadersearch:hover input {
        display: block;
    }

.globalsearch-typeahead-hint,
.globalsearch-typeahead-input {
    padding-right: 45px !important;
}

.crr-header-global-menu .crr-header-global-navcontainer {
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 100%;
    max-width: 320px;
    padding: 0;
    overflow-y: auto;
    pointer-events: all;
    background-color: #01374f;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    left: 0;
}

.icon-right-arrow {
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}

    .icon-right-arrow.collapsed {
        display: block;
    }

.crr-emp-login-btn {
    position: relative;
}

.crr-emp-global-gradient {
    padding-left: 0;
    padding-right: 0;
}

    .crr-emp-global-gradient .navbar-static-top,
    .crr-emp-footer-container .crr-footer {
        padding-left: 20px;
        padding-right: 20px;
    }

@media (max-width: 1099.98px) {
    .crr-logo {
        width: 150px;
        height: auto;
    }

    .crr-emp-navbar-header {
        flex-basis: 100%;
    }

    .crr-header-global-nav {
        display: block;
        float: none;
        padding: 0 20px;
    }

        .crr-header-global-nav li {
            border: none;
            float: none;
        }

        .crr-header-global-nav > li > a,
        .crr-header-global-nav > li .crr-header-nav-link-div a {
            color: #075484;
            height: auto;
            font-size: 1.6rem !important;
            font-weight: 600;
            padding: 11px 5px;
           
            
        }

    .crr-emp-login .global_header_btn {
        font-size: 3.2rem !important;
    }

    .crr-header-global-nav > li a,
    .crr-emp-login-btn .dropdown-menu > li a {
        font-size: 16px !important;
    }

    .crr-header-global-nav > li > .dropdown > .dropdown-menu {
        margin-left: -15px;
    }

    .crr-header-global-nav .crr-emp-nav-firstlink a {
        padding: 15px !important;
    }

    .crr-header-nav-link-div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .crr-header-nav-link-div .icon-dropdown-img {
            display: inline-block;
            background-image: url('../../../Images/arrow-down.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 15px;
            height: 10px;
            margin-right: 30px;
        }

    li.open .crr-header-nav-link-div .icon-dropdown-img {
        background-image: url('../../../Images/arrow-up.png');
    }

    .crr-header-global-nav > li a {
        color: #fff;
    }

    .crr-emp-login-btn .dropdown-menu > li a {
        color: #fff;
        padding: 15px;
        font-size: 2rem;
    }

    .crr-header-global-nav > li > a {
        padding: 0 10px !important ;
    }

    .crr-header-global-nav .crr-emp-nav-firstlink {
        font-size: 1.4rem;
    }

        .crr-header-global-nav .crr-emp-nav-firstlink > a:focus,
        .crr-emp-login-btn .dropdown-menu a:focus {
            color: #fff !important;
        }

        .crr-header-global-nav .crr-emp-nav-firstlink > a:hover,
        .crr-emp-login-btn .dropdown-menu a:hover {
            background-color: #075484 !important;
            color: #fff !important;
        }

    .crr-header-global-nav > li a:hover {
        background-color: transparent;
    }

    .crr-emp-nav-secondlink {
        padding: 10px;
    }

        .crr-emp-nav-secondlink:hover {
            background-color: #075484 !important;
        }

            .crr-emp-nav-secondlink:hover a {
                color: #fff;
            }

    #SurveysDataSets {
        padding-left: 0 !important;
    }

    .crr-emp-login {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 3px solid #84EE5E;
    }

        .crr-emp-login .global_header_btn {
            padding-left: 5px;
            font-size: 3.2rem;
            font-weight: 600;
            margin-bottom: 10px;
            display: block !important;
        }

            .crr-emp-login .global_header_btn .dropdown-backdrop {
                display: none;
            }

        .crr-emp-login .dropdown-menu .accLabel {
            color: #fff !important;
        }

        .crr-emp-login div a {
            color: #fff;
        }

    .crr-emp-global-search {
        margin-top: 20px;
    }

    #form_globalheadersearch {
        display: block;
        margin-bottom: 35px;
    }

        #form_globalheadersearch input {
            display: block !important;
        }

    .navbar-nav .open .dropdown-menu,
    .crr-emp-login-btn.open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 14px;
    }

    .icon-right-arrow {
        margin-top: 3px;
        margin-right: 20px;
    }
}


@media (min-width: 1100px) {
    .crr-emp-global-gradient:not(.i-medium) .crr-logo {
        width: 218px;
        height: auto;
    }

    .crr-collapse-d {
           display:none;
    }

    .crr-emp-global-gradient:not(.i-medium) {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
    }

        .crr-emp-global-gradient:not(.i-medium) .navbar-static-top {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            flex-basis: 1400px;
        }

        .crr-emp-global-gradient:not(.i-medium) .crr-emp-navbar-toggle,
        .crr-emp-global-gradient:not(.i-medium) .crr-emp-btn-modal-close {
            display: none;
        }

        .crr-emp-global-gradient:not(.i-medium) .crr-header-global-menu {
            flex-grow: 1;
            -webkit-flex-grow: 1;
        }

            .crr-emp-global-gradient:not(.i-medium) .crr-header-global-menu .crr-header-global-navcontainer {
                display: block;
                position: static;
                max-width: none;
                min-height: 0;
                padding: 0;
                overflow: visible;
                background-color: transparent;
                -webkit-box-shadow: none;
                box-shadow: none;
                top: 5px;
                z-index: 99999;
                width: 100%;
            }

        .crr-emp-global-gradient:not(.i-medium) .crr-emp-header-global-menu-content {
            background-color: #fff;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            padding-left: 5vw;
            padding-right: 0;
            padding-bottom:0;
            padding-top:0;
        }

        .crr-emp-global-gradient:not(.i-medium) .crr-emp-login {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
        }

            .crr-emp-global-gradient:not(.i-medium) .crr-emp-login > div {
                padding-left: 15px;
                padding-right: 15px;
                font-size: 20px;
                font-weight: 600;
            }

                .crr-emp-global-gradient:not(.i-medium) .crr-emp-login > div.freedemo {
                    padding-left: 0;
                }

            .crr-emp-global-gradient:not(.i-medium) .crr-emp-login .crr-emp-login-btn {
                border-left: 2px solid #075484;
            }

                .crr-emp-global-gradient:not(.i-medium) .crr-emp-login .crr-emp-login-btn .dropdown-menu {
                    margin-top: 10px;
                    left: -30px;
                }

        .crr-emp-global-gradient:not(.i-medium) .crr-header-global-nav > li > a,
        .crr-emp-global-gradient:not(.i-medium) .crr-header-global-nav > li .crr-header-nav-link-div {
            font-size: 20px;
            height: 62px;
            padding: 21.5px 15px;
            line-height: 1.4;
        }

            .crr-emp-global-gradient:not(.i-medium) .crr-header-global-nav > li .crr-header-nav-link-div .crr-header-nav-link {
                padding-bottom: 10px;
            }

        .crr-emp-global-gradient:not(.i-medium) .crr-header-global-nav .dropdown-menu,
        .crr-emp-global-gradient:not(.i-medium) .crr-emp-login-btn .dropdown-menu {
            border: none;
            border-top: 2px solid #84ee5e;
            min-width: 300px;
            margin-top: -10px;
            box-shadow: 0 0 5px 0px rgba(0, 0, 0, .2);
        }

        .crr-emp-global-gradient:not(.i-medium) .crr-emp-header-global-menu-content .dropdown-menu > li a {
            background-color: transparent !important;
            color: #01374f;
            display: block;
        }

        .crr-emp-global-gradient:not(.i-medium) .crr-header-global-nav > li a:hover,
        .crr-emp-global-gradient:not(.i-medium) .crr-header-global-nav > li .crr-header-nav-link-div a:hover,
        .crr-emp-global-gradient:not(.i-medium) .crr-emp-login-btn li a:hover {
            font-weight: 700;
        }

        .crr-emp-global-gradient:not(.i-medium) .crr-emp-global-search {
            display: flex;
            display: -webkit-flex;
            padding-right: 0 !important;
        }

        .crr-emp-global-gradient:not(.i-medium) .crr-emp-nav-secondlink {
            padding: 5px 0;
        }
            .crr-emp-global-gradient:not(.i-medium) .crr-emp-nav-secondlink:hover > a,
            .crr-emp-global-gradient:not(.i-medium) .crr-emp-nav-secondlink > a:hover,
            .crr-emp-global-gradient:not(.i-medium) .crr-emp-nav-secondlink > a:focus {
                color: #29abe2 !important;
            }

        .crr-emp-global-gradient:not(.i-medium) .crr-emp-nav-firstlink a {
            font-weight: 400;
        }

        .crr-emp-global-gradient:not(.i-medium) .crr-header-nav-link:hover,
        .crr-emp-global-gradient:not(.i-medium) .crr-header-nav-link:hover a {
            color: #01374f;
        }
}

@media (min-width: 1279.98px) and (max-width:1300px) {
    .crr-emp-global-gradient:not(.i-medium) .crr-logo {
        width: 173px;
        height: auto;
    }

    .crr-emp-global-gradient:not(.i-medium) .crr-emp-login > div:last-of-type {
        padding-left: 0;
    }

    .crr-emp-global-gradient:not(.i-medium) .crr-header-global-nav > li .crr-header-nav-link-div {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(min-width:992px) and (max-width:1080px) {
    .crr-emp-header-global-menu-content {
        padding-left: 0.75vw;
    }
}


@media(min-width:992px)and (max-width:1099.98px) {
    .crr-emp-global-gradient .crr-header-global-menu .crr-header-global-navcontainer {
        margin-right: -30px;
        right: 0;
        left: unset;
    }
}

@media(max-width:1099.98px), (min-width:1100px) and (any-hover:none) {
    .navbar {
        min-height: auto;
        padding: 20px 30px;
    }
  
    /* .crr-emp-navbar-header {
        display: block;
    }*/
    .crr-emp-navbar-header .crr-profile {
        order: 1;
        z-index: 1
    }
    .crr-emp-navbar-header .crr-emp-navbar-brand {
        order: 2;
        z-index: 1
    }
    .crr-emp-navbar-header .crr-emp-navbar-toggle {
        order: 3;
    }
    .crr-emp-btn-modal-close {
        order: 3;
    }

    #crr-m-sticky-demo {
        position: absolute;
        right: 70px;
        top: 16.5px;
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        color: #075484;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid #075484;
    }

    .crr-emp-navbar-header .crr-emp-navbar-toggle {
        float: right;
        padding: 0;
        margin: 0;
    }
}

/* end: header */
/* footer */
.crr-emp-footer-container {
    background-color: #bfe9f9;
}

    .crr-emp-footer-container .crr-footer-b-copy {
        color: #212221;
        font-size: 14px;
        font-weight: 400;
    }

.crr-footer-col-logo {
    flex-basis: 25%;
    margin-top: 40px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.crr-footer-col-nav .crr-footer-navlinks {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-basis: 100%;
    max-width: 100%;
}

    .crr-footer-col-nav .crr-footer-navlinks > div {
        font-size: 20px;
        display: flex;
        display: -webkit-flex;
        flex-flow: wrap;
        -webkit-flex-flow: row wrap;
        flex: 1;
        -webkit-flex: 1;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

.crr-footer-col-nav div a {
    color: #075484 !important;
    font-size: 20px;
}

    .crr-footer-col-nav div a:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid #84ee5e;
    }

.crr-emp-legal-nav {
    flex-basis: 25%;
}

    .crr-emp-legal-nav ul a {
        color: #212221 !important;
        font-size: 16px !important;
        font-weight: 600;
    }

        .crr-emp-legal-nav ul a:hover {
            padding-bottom: 2px;
            border-bottom: 2px solid #84ee5e;
        }

.crr-emp-footer-individuals {
    flex-basis: 100%;
    font-size: 20px;
    color: #075484;
    padding-left: 2vw;
}

.crr-footer-col-nav .crr-footer-navlinks > div ul {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .crr-emp-footer-container {
        padding-top: 0px;
        padding-bottom: 30px;
    }

        .crr-emp-footer-container .crr-footer {
            display: flex;
            display: -webkit-flex;
            flex-basis: 1400px;
            height: 15.625vw;
        }

    .crr-footer-col-nav {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-basis: 50%;
        margin-top: 0;
        padding-top: 15px;
        border-left: 0.86px solid #28A9E0;
        border-right: 0.86px solid #28A9E0;
        margin-right: 2.5%;
    }

    .crr-emp-legal-nav {
        padding-top: 15px;
        padding-left: 2.5%;
        flex-grow: 1;
        align-self: flex-end;
    }

        .crr-emp-legal-nav ul {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
        }

            .crr-emp-legal-nav ul li {
                margin-left: 30px;
            }

    .crr-emp-legal-nav-mobile,
    .crr-emp-footer-social-mobile {
        display: none !important;
    }

    .crr-emp-footer-individuals {
        padding-left: 2.5vw;
    }
}

@media (min-width: 1100px) {
    .crr-footer-col-logo .crr-logo-footer {
        width: 232px !important;
        height: auto;
    }

    .crr-emp-footer-individuals {
        padding-left: 5.5%;
    }

}

@media (min-width: 1280px) {
    .crr-emp-footer-individuals {
        padding-left: 1.5vw;
    }
}

@media (min-width: 1400px) {
    .crr-emp-footer-individuals {
        padding-left: 1.8vw;
    }
}

@media (min-width: 1600px) {
    .crr-emp-footer-individuals {
        padding-left: 2vw;
    }
}

.crr-logo-footer {
    width: auto;
}

@media (max-width: 991.98px) {
    .crr-emp-footer-container .crr-footer-b-copy {
        font-size: 10.5px;
        height: 42px;
    }

    .crr-emp-legal-nav {
        display: none;
    }

    .crr-emp-legal-nav-mobile ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 20px;
    }

        .crr-emp-legal-nav-mobile ul li {
            margin-right: 15px;
        }

    .crr-emp-legal-nav-mobile a {
        color: #212221 !important;
        font-size: 16px !important;
        font-weight: 600;
    }

    .crr-emp-legal-nav-mobile ul a:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid #84ee5e;
    }

    .crr-footer-navlinks {
        flex-flow: nowrap;
        -webkit-flex-flow: nowrap;
    }

    .crr-logo-footer {
        height: 30px;
        width: auto;
    }

    .crr-footer-col-logo {
        margin-top: 25px;
    }

    .crr-footer-navlinks li {
        margin-bottom: 0;
    }

    .crr-footer-col-nav .crr-footer-navlinks {
        align-items: flex-start;
        -webkit-align-items: flex-start;
        margin-bottom: 20px;
    }

        .crr-footer-col-nav .crr-footer-navlinks a {
            font-size: 14px;
            white-space: nowrap;
        }

        .crr-footer-col-nav .crr-footer-navlinks > div {
            flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            padding-right: 20px;
        }


            .crr-footer-col-nav .crr-footer-navlinks > div ul li {
                line-height: 28px;
            }


    .crr-emp-footer-individuals {
        margin-top: 0;
        padding-left: 0;
        font-size: 15px;
    }

        .crr-emp-footer-individuals a {
            font-size: 15px !important;
        }

    .crr-emp-legal-nav-mobile {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .crr-footer-col {
        padding-top: 2.5rem;
        padding-bottom: 0rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .crr-footer-col-logo,
    .crr-footer-col-nav {
        margin-top: 2rem;
    }
}

/* end: footer */

/* overwrite partial style <bootstrap-salary.web.css > */
#header_globalsearch-input {
    color: #007dbc;
}

#ca_callout_container {
    background-color: #ddf1f9;
    height: 46px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.ca_callout_wrapper {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-basis: 1400px;
    padding: 10px 30px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.ca_callout_msg_container {
    text-align: center;
    font-size: 15px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    text-align: center;
    font-size: 11px;
}


.download-link {
    font-size: 9px;
    color: #007dbc;
}

.ca_callout_close {
    cursor: pointer;
    min-width: 24px;
    width: 24px;
}

    .ca_callout_close img {
        max-width: 100%;
    }

@media(min-width:992px) {
    #ca_callout_container {
        height: 68px;
    }

    .ca_callout_msg_container {
        font-size: 18px;
    }

    .ca_callout_close {
        width: 40px;
    }

    .download-link {
        font-size: 14px;
    }
}

/* start: global search */
.crr-text-navy {
    color: #01374f;
}

#global-search-result {
    position: absolute;
    top: 35px;
    right: 0;
    border-top: 3px solid #84ee5e;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.crr-global-searchresult-wrapper {
    background-color: #fff;
}

@media(max-width:991.98px) {
    #global-search-result {
        max-height: unset;
    }
}

.header_globalsearch-input-error::placeholder {
    color: #c32026;
    opacity: 0.5;
}


/* start: 992 - 1099 */
@media screen and (min-width:62em) and (max-width:68.6875em) {
    .crr-emp-global-gradient {
        max-width: 100em;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
    }

        .crr-emp-global-gradient .navbar-static-top {
            width: 100%;
            flex-basis: auto !important;
            padding-left: 0;
            padding-right: 0;
        }

    .crr-header-global-nav > li .crr-header-nav-link-div,
    .crr-header-global-nav > li a,
    .crr-emp-login .global_header_btn,
    .crr-emp-login-btn .dropdown-menu > li a {
        font-size: 1.4rem;
    }

    .crr-emp-login > div {
        font-size: 1.4rem
    }

    .crr-footer-col-nav div a,
    .crr-emp-legal-nav ul a {
        font-size: 1.4rem !important;
    }
}
/* end: 992 - 1099 */


/*  1100 - 1279*/
@media screen and (min-width:68.75em) and (max-width:79.9375em) {
    .crr-emp-global-gradient {
        max-width: 100em;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
    }

        .crr-emp-global-gradient .navbar-static-top {
            width: 100%;
            flex-basis: auto !important;
            padding-left: 0;
            padding-right: 0;
        }

    .crr-header-global-nav > li .crr-header-nav-link-div,
    .crr-header-global-nav > li a {
        font-size: 1.4rem;
    }

    .crr-emp-login > div {
        font-size: 1.4rem
    }
}

@media screen and (min-width:80em) and (max-width:119.75em) {
    .crr-emp-global-gradient:not(.crr-emp-global-gradient-footer) {
        max-width: 100em;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .crr-emp-global-gradient .navbar-static-top,
    .crr-emp-global-gradient-footer .crr-footer,
    #bread_scrumb {
        width: 75%;
        flex-basis: auto !important;
        padding-left: 0;
        padding-right: 0;
    }

    .crr-header-global-nav > li .crr-header-nav-link-div,
    .crr-header-global-nav > li a {
        font-size: 1.6rem !important;
    }

    .crr-emp-login > div {
        font-size: 1.6rem !important;
    }
}

/* end: global search */
/* start: bread crumb */
#bread_scrumb {
    flex-basis: 1400px;
}

/* start: global header sticky */

.navbar {
    margin-bottom: 5px;
}

@media(max-width:991.98px) {
    .navbar {
        margin-bottom: 0;
    }
}

.max-height-news--vh {
    /*max-height: calc(90vh - 46px);*/
    max-height: calc(var(--vh, 1vh) * 100);
}

.max-height-news-none--vh {
    /*max-height: 90vh;*/
    max-height: calc(var(--vh, 1vh) * 100);
}

margin--bottom {
    margin-bottom: 80px;
}

.overflow--hidden {
    overflow: hidden;
}

.globalNav__menuOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    pointer-events: none;
    content: "";
    display: block;
    z-index: 10000;
    width: 100vw;
    background: rgba(36,28,21,.3);
    pointer-events: auto;
    opacity: 1;
    overflow: hidden;
}

.crr-header--sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #fff;
    z-index: 101;
}

.crr-header--scrolling {
    box-shadow: 0 4px 4px 0 rgba(51,62,72,.1), 0 4px 4px 0 rgba(51,62,72,.1);
}

.search-result-max-height--vh {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
}

/* end: global header sticky */

@media (min-width: 1100px) {
    .crr-emp-login .global_header_btn .crr-btn-demo-outline {
        border: 1px solid #075484;  
        border-radius: 1.5em;
        padding: 5px 8px;
        white-space: nowrap;
    }
}

@media (max-width: 991.98px) {
    .crr-logo-footer {
        height: auto;
    }
}

.crr-emp-footer-social img:nth-child(1) {
    width: 23px;
    height: 23px
}

.crr-emp-footer-social img:nth-child(2) {
    width: 31px;
    height: 25px
}

.crr-emp-footer-social img:nth-child(3) {
    width: 15px;
    height: 32px
}

.crr-emp-footer-social {
    margin-top: 16px;
}

@media (min-width:1100px){
    #nav-global-header-primary {
        height: auto !important;
        display: block;
    } 
}

@media (max-width:1099px) {
    .crr-emp-header-global-menu-content {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        border-top: 6px solid #17bd64;
        box-shadow: 0 2px 6px rgba(0,0,0,0.16);
        height:100%;
    }
}

@media(max-width:1099.98px) {
    .collapse-on-mobile {
        display: none !important;
    }

    #nav-global-header-primary .crr-header-global-nav li {
        border-bottom: 1px solid #ecf0f0;
    }

        #nav-global-header-primary .crr-header-global-nav li:last-child, #nav-global-header-primary .crr-header-global-nav li:first-child {
            border-bottom: 0 !important;
        }

    .crr-header-global-nav li {
        padding: 15px 0;
    }

    .crr-header-global-nav .divider {
        padding: 0;
    }

    .crr-header-global-nav-btns {
        float: left;
        width: 100%;
        padding: 0 30px;
    }


    .crr-global-search-input {
        border-color: #3272c2 !important;
    }

    #crr-jobs-menu, #crr-companies-menu {
        margin-top: 30px;
    }

    .dropdown-menu .crr-header-nav-link {
        font-size: 14px !important;
    }

    .dropdown-header {
        border-bottom: none !important;
    }

    .crr-navbar-gray-vertical-div {
        width: 0px;
        height: 20px;
        border: 1px solid #dddddd;
        margin-left: 10px;
        margin-right: 10px;
    }
    #crr-jobs-dropdown, #crr-companies-dropdown {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media(min-width:1100px) {
    .collapse-on-desktop {
        display: none !important;
    }

    #nav-global-header-primary .dropdown-menu {
        border-top: 4px solid #17bd64;
    }

        #nav-global-header-primary .dropdown-menu li {
            margin: 10px 30px;
            
        }

        #nav-global-header-primary .dropdown-menu .crr-header-nav-link-div {
            height: auto !important;
            padding: 0;
        }

}

#crr-profile-dropdown-btn {
    padding: 8px 25px;
    border-radius: 20px;
}

.crr-profile-icon {
    font-size: 5px !important;
    vertical-align: middle;
}

.crr-profile-dropdown {
    margin-top:40px;
    min-width: 320px !important;
}
    .crr-profile-dropdown > li {
        display: flex;
        align-items: center;
    }
        .crr-profile-dropdown > li > span {
            font-size: 20px !important;
            color: #0773c8 !important;
        }
    .crr-profile-dropdown .crr-header-nav-link {
        margin: 0 10px;
    }

.crr-header-nav-link {
    color: #011c45 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.dropdown-menu .crr-header-nav-link {
    padding: 7px 0 !important;
    border-bottom: none !important;
}

/*For Hovering the dropdown show menu*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown > .divider {
    padding: 0 !important;
}

.dropdown-header {
    font-weight: 400 !important;
    padding-left: 0 !important;
    border-bottom: none !important;

}

/*menu right should be important*/
.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

/*Modal*/
.bg-none {
    background: none !important;
}

.btn-cta {
    background: #17bd64;
}

.crr-modal-title {
    font-family: Source Sans Pro;
    font-weight: 700;
    color: #212221;
    font-size: 28px;
}

.crr-modal-flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.crr-modal-flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.crr-user-login-choice-button {
    border: 1px solid;
    border-color: #58595b;
    border-radius: 3px;
    display: flex;
    align-items: center;
}



.crr-modal-close {
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
    background-color: #f8f8f9 !important;
    border: none !important;
}

    .crr-modal-close :hover {
        border: none;
    }

.crr-max-width {
    width: 100%
}

.crr-modal-gray-horizontal-div {
    width: 0px;
    height: 284px;
    border: 1px solid #dddddd;
    margin-left: 30px;
    margin-right: 30px;
}

.crr-modal-gray-vertical-div {
    width: 100%;
    height: 0px;
    border: 1px solid;
    border-color: #dddddd;
    display: none;
}

.crr-modal-lg {
    width: 835px;
}

.crr-no-display {
    display: none !important;
}

.crr-flex-align-self-center {
    align-self: center;
}

.crr-create-acc-input {
    height: 35px;
    background-color: #f6f6f9;
}

.crr-icon-check {
    color: white;
    background: #17bd64;
    padding: 4px;
    border-radius: 50%;
    font-size: 9px;
}

.crr-modal-md {
    width: 650px;
}

.crr-modal-sm {
    width: 540px;
}

@media screen and (max-width: 1100px) {
    .crr-flex-wrap-modal {
        flex-wrap: wrap;
    }
}

.crr-upload-preview {
    height: 111px;
    width:111px;
    border-radius:50%;
}

.crr-search-global-mobile-wrapper {
    max-height:90%;
    overflow: auto;
    width:100%;

}

.crr-search-global-mobile {
    border-radius: 1.5em;
    border: 1px solid #e6e7e8;
    margin-top: 20px;
    padding: 20px;
}
    .crr-search-global-mobile > .input-group input {
        border: 0;
        outline: 0;
        box-shadow: none !important;
        height:36px;
    }

    .crr-search-global-mobile > .input-group .input-group-addon {
        background: none;
        border: 0;
    }