@* Reset Password Modal *@
<div class="modal" id="SignInCreateAccount7thStepModal" tabindex="-1" role="dialog" aria-labelledby="SignInCreateAccount7thStepModal">
    <div class="modal-dialog modal-lg crr-modal-center" role="document">
        <div class="modal-content">
            <div class="modal-header padding-bottom0">
                <button type="button" class="close crr-modal-close " data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="text-bluedark text-size25 font-regular">&times;</span></button>
            </div>
            <div class="modal-header crr-modal-header-media padding-bottom0 padding-top15 padding-left15">
                <h3 class="crr-modal-title modal-title col-sm-7">Reset Password</h3>
            </div>
            <div class="modal-body margin-bottom30">
                <div class="crr-modal-flex-col">
                    <div class="text-size16 col-sm-9 padding-left0 padding-right0 margin-bottom20">Your new password must be at least 8 characters, contain at least 1 number, 1 letter, and 1 special character.</div>
                    <div>
                        <form class="crr-modal-flex-row crr-flex-wrap-modal">
                            <div class="form-group margin-bottom25 col-sm-5 crr-media-max-width padding-left0 padding-right15 padding-bottom0">
                                <label for="#" class="text-size16 font-semibold crr-text-primary text-transform-none margin-bottom10 ">New Password</label>
                                <input type="text" class="form-control crr-create-acc-input border-none" id="#" placeholder="">
                            </div>
                        </form>
                        <form class="crr-modal-flex-row crr-flex-wrap-modal">
                            <div class="form-group margin-bottom25 col-sm-5 crr-media-max-width padding-left0 padding-right15 padding-bottom0">
                                <label for="#" class="text-size16 font-semibold crr-text-primary text-transform-none margin-bottom10 ">Confirm Password</label>
                                <input type="text" class="form-control crr-create-acc-input border-none" id="#" placeholder="">
                            </div>
                        </form>
                    </div>
                    <div class="margin-top30">
                        <button class="btn btn-cta font-semibold" type="submit" data-dismiss="modal" aria-label="Submit" data-toggle="modal" data-target="#">Sign In</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>