
<div class="modal" id="GetJobAlertsModal" tabindex="-1" role="dialog" aria-labelledby="GetJobAlertsModal">
    <div class="modal-dialog crr-modal-sm crr-media-max-width crr-modal-center margin-auto padding10" role="document" style="margin-top: 187.222px; top: 0px;">
        <form>
            <div class="modal-content">
                <div class="modal-header padding-bottom0">
                    <button type="button" class="close crr-modal-close " data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="text-bluedark text-size25 font-regular">×</span></button>
                </div>
                <div class="modal-header crr-modal-header-media padding-bottom0 padding-top0 padding-left15">
                    <h3 class="crr-modal-title modal-title col-sm-9"><span class="icon-crr-ring text-blue text-size32 margin-right10"></span>Want to get job alerts?</h3>
                </div>
                <div class="modal-header crr-modal-header-media padding-bottom0 padding-top10">
                    <div class="text-size16">Enter the details below to get new jobs sent right to your inbox.</div>
                </div>

                <div class="modal-body margin-bottom30">
                    <div>
                        <div class="crr-modal-flex-row crr-flex-wrap-modal">
                            <div class="form-group crr-max-width margin-bottom25">
                                <label for="#" class="text-size16 font-semibold crr-text-primary text-transform-none margin-bottom10 ">Job Title, Company, or Keyword</label>
                                <input type="text" class="form-control crr-create-acc-input border-none" id="#" placeholder="">
                            </div>
                            <div class="margin-left20 margin-right20 crr-display-none"></div>
                        </div>
                    </div>
                    <div class="crr-modal-flex-col">
                        <div>
                            <div class="crr-modal-flex-row crr-flex-wrap-modal">
                                <div class="form-group crr-max-width margin-bottom40">
                                    <label for="#" class="text-size16 font-semibold crr-text-primary text-transform-none margin-bottom10 ">Location</label>
                                    <input type="password" class="form-control crr-create-acc-input border-none" id="#" placeholder="">
                                </div>
                                <div class="margin-left20 margin-right20 crr-display-none"></div>
                            </div>
                        </div>
                        <div class="display-flex flex-justify-content-center">
                            <button class="btn btn-default  border-crr-blue crr-text-primary font-semibold margin-right15" type="submit" data-dismiss="modal" aria-label="Create Account" data-toggle="modal" data-target="">
                                <div class="padding-left20 padding-right25">Skip</div>
                            </button>
                            <button class="btn btn-cta font-semibold" type="submit" data-dismiss="modal" aria-label="Continue" data-toggle="modal" data-target="#CompleteProfileModal">Continue<span class="icon-arrow-circle-right icon-right"></span></button>
                        </div>
                    </div>

                </div>
            </div><!-- /.modal-content -->
        </form>
    </div>
</div>
