@{
    Seog_Crr_Log objLog = new Seog_Crr_Log();
}

@try
{
    <div class="crr-global-job-item margin-top10 margin-left30 margin-right30">
        <div class="flex-div flex-justify-content-end">
            <div class="crr-global-job-title flex-div flex-justify-content-between flex-align-item-center">
                <span class="text-navy text-size16 font-bold">Most Recent Jobs</span>
                <img src="~/Images/icon-carousel.svg" class="crr-carousel-icon" />
            </div>
        </div>
        <div class="crr-recommended-jobs-layout">
            <div class="crr-job-list cursor-pointer border">
                <div>
                    <a href="#">
                        <img class="crr-company-logo" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xODFjY2ZjZDMwMSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE4MWNjZmNkMzAxIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzE4NzUiIHk9IjM2LjUiPjY0eDY0PC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true">
                    </a>
                </div>
                <div class="crr-adv-desc crr-adv-flex-col flex-grow-1">
                    <div class="crr-item-title crr-text-blue font-bold text-size17">Account Coordinator</div>
                    <div>
                        <div class="crr-text-blue text-size15 margin-bottom10">University of Something</div>
                        <div class="text-size15 text-charcoal">Waltham, MA  |  Full Time</div>
                    </div>

                </div>
                <div class="crr-adv-actions crr-adv-flex-col flex-align-item-end">
                    <a href="javascript:void(0)" class="crr-bookmark" onclick="bookMark(this)">
                        <span class="icon-crr-bookmark text-black text-size18"></span>
                    </a>
                    <span class="text-size12">5 Days Ago</span>
                </div>
            </div>
            <div class="crr-job-list cursor-pointer border">
                <div>
                    <a href="#">
                        <img class="crr-company-logo" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xODFjY2ZjZDMwMSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE4MWNjZmNkMzAxIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzE4NzUiIHk9IjM2LjUiPjY0eDY0PC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true">
                    </a>
                </div>
                <div class="crr-adv-desc crr-adv-flex-col flex-grow-1">
                    <div class="crr-item-title crr-text-blue font-bold text-size17">Account Coordinator</div>
                    <div>
                        <div class="crr-text-blue text-size15 margin-bottom10">University of Something</div>
                        <div class="text-size15 text-charcoal">Waltham, MA  |  Full Time</div>
                    </div>

                </div>
                <div class="crr-adv-actions crr-adv-flex-col flex-align-item-end">
                    <a href="javascript:void(0)" class="crr-bookmark" onclick="bookMark(this)">
                        <span class="icon-crr-bookmark text-black text-size18"></span>
                    </a>
                    <span class="text-size12">5 Days Ago</span>
                </div>
            </div>
            <div class="crr-job-list cursor-pointer border">
                <div>
                    <a href="#">
                        <img class="crr-company-logo" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xODFjY2ZjZDMwMSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE4MWNjZmNkMzAxIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzE4NzUiIHk9IjM2LjUiPjY0eDY0PC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true">
                    </a>
                </div>
                <div class="crr-adv-desc crr-adv-flex-col flex-grow-1">
                    <div class="crr-item-title crr-text-blue font-bold text-size17">Account Coordinator</div>
                    <div>
                        <div class="crr-text-blue text-size15 margin-bottom10">University of Something</div>
                        <div class="text-size15 text-charcoal">Waltham, MA  |  Full Time</div>
                    </div>

                </div>
                <div class="crr-adv-actions crr-adv-flex-col flex-align-item-end">
                    <a href="javascript:void(0)" class="crr-bookmark" onclick="bookMark(this)">
                        <span class="icon-crr-bookmark text-black text-size18"></span>
                    </a>
                    <span class="text-size12">5 Days Ago</span>
                </div>
            </div>
            <div class="crr-job-list cursor-pointer border">
                <div>
                    <a href="#">
                        <img class="crr-company-logo" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xODFjY2ZjZDMwMSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE4MWNjZmNkMzAxIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzE4NzUiIHk9IjM2LjUiPjY0eDY0PC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true">
                    </a>
                </div>
                <div class="crr-adv-desc crr-adv-flex-col flex-grow-1">
                    <div class="crr-item-title crr-text-blue font-bold text-size17">Account Coordinator</div>
                    <div>
                        <div class="crr-text-blue text-size15 margin-bottom10">University of Something</div>
                        <div class="text-size15 text-charcoal">Waltham, MA  |  Full Time</div>
                    </div>

                </div>
                <div class="crr-adv-actions crr-adv-flex-col flex-align-item-end">
                    <a href="javascript:void(0)" class="crr-bookmark" onclick="bookMark(this)">
                        <span class="icon-crr-bookmark text-black text-size18"></span>
                    </a>
                    <span class="text-size12">5 Days Ago</span>
                </div>
            </div>
            <div class="crr-job-list cursor-pointer border crr-job-list-item display-none">
                    <div class="crr-mobile-see-job crr-text-blue text-size17 font-bold text-center">
                        <span>See All Jobs</span>
                        <span class="icon-arrow-right margin-left10"></span>
                    </div>
            </div>
        </div>
        <div class="crr-show-more margin-top20 display-none">
            <div class="flex-div flex-justify-content-center">
                <div class="text-size13 crr-text-primary text-center crr-top-desc-line-height margin-right10">Show More</div>
                <img src="~/Images/icon-expand.svg" />
            </div>
        </div>
        <div class="crr-see-all-job margin-top10 crr-text-blue text-size16 flex-div flex-justify-content-end">See All Jobs</div>
    </div>
}
catch (Exception ex)
{
    objLog.SalError("Seoe_Crr_Search_MostRecentJobs.cshtml", ex);
}
