<div class="modal fade" id="crr-job-alert-setup-modal" tabindex="-1" role="dialog" aria-labelledby="crr-job-alert-setup-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header padding-top10 padding-bottom10">
                <button type="button" class="close border-none outline-none" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="crr-text-blue crr-custom-close-btn float-right">&times;</span></button> 
            </div>
            <div class="modal-body padding-top10">
                <div class="text-center">
                    <span class="icon-crr-ring text-size28 crr-text-blue"></span>
                </div>
                <div class="text-center margin-top30">
                    <p class="text-size28 font-bold">Want to get job alerts?</p>
                    <p class="text-size18">Enter your email to get new jobs sent right to your inbox.</p>
                </div>
                <form class="crr-get-job-alert-form margin-top30">
                    <div class="form-group">
                        <label class="control-label crr-text-primary text-transform-none font-bold " for="emailAddress">Email Address</label>
                        <input type="email" class="form-control border-none bg-grayfill" id="emailAddress" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="control-label crr-text-primary text-transform-none font-bold " for="jobTitleOrCompany">Job Title or Company</label>
                        <input type="email" class="form-control border-none bg-grayfill" id="jobTitleOrCompany" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="control-label crr-text-primary text-transform-none font-bold " for="location">Location</label>
                        <input type="email" class="form-control border-none bg-grayfill" id="location" placeholder="">
                    </div>
                    <div class="margin-top40 margin-bottom40">
                        <button type="button" class="btn btn-cta font-bold" data-toggle="modal" data-dismiss="modal" data-target="#crr-job-alert-notification">Create Job Alert</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="crr-job-alert-notification" tabindex="-1" role="dialog" aria-labelledby="crr-job-alert-notification">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header padding-top10 padding-bottom10">
                <button type="button" class="close border-none outline-none" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="crr-text-blue crr-custom-close-btn float-right">&times;</span></button>

            </div>
            <div class="modal-body padding-top10">
                <div class="text-center">
                    <span class="icon-crr-ring text-size28 crr-text-blue"></span>
                </div>
                <div class="text-center margin-top30">
                    <p class="text-size28 font-bold">Thanks, you're all set!</p>
                    <p class="text-size18 margin-top30">
                        Job alerts for <strong>Account Executive</strong> in <strong>Boston</strong> will be
                        sent to sample@gmail.com.
                    </p>
                    <div class="margin-top40 margin-bottom40">
                        <button type="button" class="btn btn-cta font-bold" data-toggle="modal" data-dismiss="modal" >Manage Alerts Here</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>